<div *ngIf="voucher">
  <div class="basic-details">
    <h2>{{voucher.actorName | uppercase}}</h2>
    <h4>{{voucher.date}} voucher details</h4>
    <h2>{{voucher.prodName}}</h2>
    <h3>Total hours worked: {{voucher.hrsWorked | number: '1.1-1'}}</h3>
    <h3>Total pay: ${{voucher.totalPay | number: '1.2-2'}}</h3>
    <div class="btn-holder">
      <button (click)="goBack()">Back</button>
    </div>
  </div>
  <h3 class="detail-section-header">Basic Details</h3>
  <ul class="detail-section">
    <li><span>Start (Clock In): </span>{{voucher.startTime}}</li>
    <li><span>End (Clock Out): </span>{{voucher.endTime}}</li>
    <li><span>BG Type: </span>{{voucher.bgType}}</li>
    <li><span>Wet Pay: </span>{{voucher.wetPay}}</li>
    <li><span>Smoke Pay: </span>{{voucher.smokePay}}</li>
    <li><span>Full Beard, or Body Makeup: </span>{{voucher.hmu}}</li>
  </ul>
  <h3 class="detail-section-header">Meal details</h3>
  <ul class="detail-section">
    <li><span>NDB Start: </span>{{voucher.ndbStart}}</li>
    <li><span>Lunch Start: </span>{{voucher.lunchStart}}</li>
    <li><span>Lunch End: </span>{{voucher.lunchEnd}}</li>
    <li><span>Dinner Start: </span>{{voucher.dinnerStart}}</li>
    <li><span>Dinner End: </span>{{voucher.dinnerEnd}}</li>
  </ul>
  <h3 class="detail-section-header">Wardrobe options</h3>
  <ul class="detail-section">
    <li><span>Number of wardrobe changes: </span>{{voucher.numWardrobe}}</li>
    <li><span>Formal wear: </span>{{voucher.formalWear}}</li>
    <li><span>Police uniform: </span>{{voucher.policeWear}}</li>
  </ul>
  <h3 class="detail-section-header">Props options</h3>
  <ul class="detail-section">
    <li><span>Pet: </span>{{voucher.pet}}</li>
    <li><span>Golf Clubs: </span>{{voucher.golfClubs}}</li>
    <li><span>Tennis Racquet: </span>{{voucher.tennisRacquet}}</li>
    <li><span>Luggage (1st piece): </span>{{voucher.luggage1}}</li>
    <li><span>Luggage (2nd piece): </span>{{voucher.luggage2}}</li>
    <li><span>Camera: </span>{{voucher.camera}}</li>
    <li><span>Skis/Poles: </span>{{voucher.skisPoles}}</li>
    <li><span>Other Props (negotiated amt): </span>{{voucher.otherPropsAmt}}</li>
  </ul>
  <h3 class="detail-section-header">Vehicle options</h3>
  <ul class="detail-section">
    <li><span>Car: </span>{{voucher.car}}</li>
    <li><span>Trailer: </span>{{voucher.trailer}}</li>
    <li><span>Bicycle: </span>{{voucher.bicycle}}</li>
    <li><span>Moped: </span>{{voucher.moped}}</li>
    <li><span>Motorcycle: </span>{{voucher.motorcycle}}</li>
    <li><span>Police motorcycle: </span>{{voucher.policeMoto}}</li>
    <li><span>Skates/Skateboard: </span>{{voucher.skatesOrSkateboard}}</li>
    <li><span>Mileage (if applicable): </span>{{voucher.mileage}}</li>
    <li><span>Tolls (if applicable): </span>{{voucher.tolls}}</li>
  </ul>
</div>
<div class="btn-holder">
  <button (click)="goBack()">Back</button>
</div>

