ul {
  list-style-type: none;
  padding: 0 1em;
  width: fit-content;
  margin: 0 auto;
}

h2, h3, h4 {
  text-align: center;
}

.btn-holder {
  text-align: center;
}

.btn-holder button {
  padding: 1em 2em;
  margin: 1em;
  border-radius: 5px;
  background-color: darkolivegreen;
  font-size: 1em;
}

span {
  padding-right: 10px;
  font-family: 'Inter', sans-serif;
}

.content-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: center;
}

.basic-details {
  border-bottom: 2px solid darkcyan;
  text-shadow: 1px 1px 1px black;

}