<form>
  <label for="bgType">Work Category: </label>
  <select name="bgType" id="bgType" [(ngModel)]="bgType" (ngModelChange)="calculate()">
    <option *ngFor="let bgType of bgTypes" [ngValue]="bgType">{{bgType}}</option>
  </select><br/>
  <label for="hrsWorked">Total Hours Worked: </label>
  <input type="text" [(ngModel)]="hrsWorked" id="hrsWorked" name="hrsWorked" placeholder="12.5" />

  <input type="submit" (click)="calculate()" value="Calculate pay"/>

</form>
<h3 *ngIf="totalPay > 0">Total Earned: ${{totalPay | number : '1.2-2'}}</h3>
<table>
  <thead>
    <th>
      variable
    </th>
    <th>
      value
    </th>
  </thead>
  <tbody>
    <tr>
      <td>Work Category</td>
      <td>{{bgType}}</td>
    </tr>
    <tr>
      <td>Clock-in time</td>
      <td>{{startTime}}</td>
    </tr>
    <tr>
      <td>Clock-out time</td>
      <td>{{endTime}}</td>
    </tr>
    <tr>
      <td>Lunch start time</td>
      <td>{{lunchStart}}</td>
    </tr>
    <tr>
      <td>Lunch end time</td>
      <td>{{lunchEnd}}</td>
    </tr>
    <tr>
      <td>Lunch penalties</td>
      <td>{{lunchPenalties}}</td>
    </tr>
    <tr>
      <td>Dinner start time</td>
      <td>{{dinnerStart}}</td>
    </tr>
    <tr>
      <td>Dinner end time</td>
      <td>{{dinnerEnd}}</td>
    </tr>
    <tr>
      <td>Dinner penalties</td>
      <td>{{dinnerPenalties}}</td>
    </tr>
    <tr>
      <td>total # of hours worked</td>
      <td>{{hrsWorked | number: '1.1-1'}}</td>
    </tr>
    <tr>
      <td># of overtime hours</td>
      <td>{{overtimeHrs | number: '1.1-1'}}</td>
    </tr>
    <tr>
      <td>Base rate</td>
      <td>${{baseRate | number: '1.2-2'}}/hr</td>
    </tr>
    <tr>
      <td>First 2 hours of overtime (between work hours 9 and 10)</td>
      <td>${{overtimeRate1 | number: '1.2-2'}}/hr</td>
    </tr>
    <tr>
      <td>Overtime rate after the 10th work hour</td>
      <td>${{overtimeRate2 | number: '1.2-2'}}/hr</td>
    </tr>
    <tr>
      <td>"Golden time" bonus (triggers 16 hrs after start time)</td>
      <td>${{goldenRate | number: '1.2-2'}}/hr </td>
    </tr>
    <tr>
      <td>Base pay (8 hrs at base rate)</td>
      <td>${{basePay | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total overtime pay</td>
      <td>${{overtimePay | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total wages (Base rate adjustments + base pay + OT pay + night premiums)</td>
      <td>${{totalWages | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total bumps</td>
      <td>${{totalBumps | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total meal penalties</td>
      <td>${{totalPenalties | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total pay (Total wages + bumps/penalties) </td>
      <td>${{totalPay | number: '1.2-2'}}</td>
    </tr>
  </tbody>
</table>
<h3>To do</h3>
<p>
  Bumps, Meal penalties, Night premium adjustments
</p>