<h2>All Vouchers</h2>

<table class="vouchers">
  <thead>
    <th class="more-details">Id</th>
    <th class="some-details">Date</th>
    <th>Actor Name</th>
    <th class="more-details">Production</th>
    <th class="more-details">Hours Worked</th>
    <th class="right">Total</th>
    <th colspan="3">Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let voucher of vouchers" class="record-row">
      <td class="more-details">{{voucher._id}}</td>
      <td class="some-details">{{voucher.date}}</td>
      <td class="left">{{voucher.actorName}} </td>
      <td class="more-details left">{{voucher.prodName}}</td>
      <td class="more-details">{{voucher.hrsWorked | number: '1.1-1'}}</td>
      <td class="right">${{voucher.totalPay | number: '1.2-2'}}</td>
      <td>
        <button>
          <a routerLink="/voucher/{{voucher._id}}">Show</a>
        </button>
      </td>
      <td>
        <button>
          <a routerLink="/edit/{{voucher._id}}">Edit</a>
        </button>
      </td>
      <td>
        <button (click)="delete(voucher)">
          <a>Delete</a>
        </button>
      </td>
    </tr>
  </tbody>
</table>