<h2>All Vouchers</h2>

<table class="vouchers">
  <thead>
    <th>Id</th>
    <th>Date</th>
    <th>Actor Name</th>
    <th>Production</th>
    <th>Hours Worked</th>
    <th>Total</th>
  </thead>
  <tbody>
    <tr *ngFor="let voucher of vouchers" >
      <td>{{voucher._id}}</td>
      <td>{{voucher.date}}</td>
      <td>{{voucher.actorName}} </td>
      <td>{{voucher.prodName}}</td>
      <td>{{voucher.hrsWorked | number: '1.1-1'}}</td>
      <td>${{voucher.totalPay | number: '1.2-2'}}</td>
      <td>
        <button>
          <a routerLink="/voucher/{{voucher._id}}">Show</a>
        </button>
      </td>
      <td>
        <button>
          <a routerLink="/edit/{{voucher._id}}">Edit</a>
        </button>
      </td>
      <td>
        <button (click)="delete(voucher)">
          <a>Delete</a>
        </button>
      </td>
    </tr>
  </tbody>
</table>